<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvvzqpSRMaBvwsQuaiFXN2aVFeagNL-QY</string>
	<key>GCM_SENDER_ID</key>
	<string>842130338667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterKiyafetApp</string>
	<key>PROJECT_ID</key>
	<string>kiyafet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kiyafet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842130338667:ios:c0402a4cf1ec26a7e2922e</string>
</dict>
</plist>